body {
    width: 1020px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
p{
    margin: 0;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 940px;
    margin: 0 auto;
}
.portfolio_wrapper {
    background-color: #2d303a;
    background-size: cover;
    height: 863px;
}
.portfolio_text{
    padding-top: 65px;
    color: #666d89;
}
.portfolio_text h2{
    font-family: "Lato-Black";
    font-size: 30px;
}
.portfolio_text p{
    font-size: 18px;
    font-family: "Lato-Light";
    margin-top: 30px;
    margin-bottom: 15px;
}
.portfolio_buttons form button{ 
    height: 20px;
    border: 1px solid #666d89;
    background-color: #2d303a;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.portfolio_buttons form button a{
    font-family: "Lato-Regular";
    font-size: 12px;
    color: #666d89;
    
}

.portfolio_buttons form button:hover{
    border-color: #fff;
}
.portfolio_buttons form button:hover a{
    color: #ffffff;
}
.portfolio_gallery{
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
	max-width: 940px; 
	
}
.portfolio_gallery img{
    width: 220px;
    height: 186px;
    margin-bottom: 20px;
}
.portfolio_gallery img:hover{
    max-width: 100%;
    height: auto;
}
.portfolio-color-line{
    height: 6px;
    background-color: #323746;
}