body {
    width: 1020px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
p{
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container{
    width: 940px;
    margin: 0 auto;
}
header{
    height: 95px;
    background: url(/singolo/assets/img/Header.png) no-repeat;
    background-size: cover;
}
header .container{
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    font-family: 'Lato-Bold';
    color: #fff;
    font-size: 25px;
}
.logo .red{
    color: #974f50;
}
.navigation .main-menu{
    display: flex;
}
.navigation .main-menu a{
    font-family: 'Lato-Bold';
    color: #fff;
    font-size: 12px;
    margin-left: 30px;
}
.navigation .main-menu a:hover{
    color: #974f50;
}
.phones{
    background: url(/singolo/assets/img/Bg.png) no-repeat;
    background-size: cover;
}
.phones-wrapper{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider-left img:hover{
    box-shadow: 0 0 20px 20px rgba(201,69,73,0.5);
}
.slider-right img:hover{
    box-shadow: 0 0 20px 20px rgba(201,69,73,0.5);
}
.services{
    background: url(/singolo/assets/img/Bg\ Bottom.png) no-repeat;
    background-size: cover;
}
.services h2{
    color: #666d89;
}
.services p{
    color: #767e9e;
}

.services-wrapper{
    height: 500px;
    
}

.services-wrapper .services-info h2{
    font-family: 'Lato-Black';
    font-size: 30px;
    line-height: 18px;
    padding-top: 65px;
    margin-bottom: 35px;
}
.services-wrapper .services-info p{
    font-family: 'Lato-Light';
    font-size: 18px;
    text-align: left;
    line-height: 30px;
    
    margin-bottom: 50px;
}
.services-points{
    display: flex;
	flex-wrap: wrap;

	max-width: 940px; /* макс ширина */
	
    
}
.point-container{
    display: flex;
    max-width: 300px; /* мин. ширина блока, чтобы переносились на другой ряд */
    justify-content: space-between;
}

.point-text{
    font-family: 'Lato-Regular';
    margin-left: 20px;
    font-size: 12px;
    text-align: left;
}
.point-text p{
    text-align: left;
    margin-right: 20px;
}
.point-text-header{
    font-family: 'Lato-Black';
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    margin-bottom: 20px;
}
.design{
    margin-bottom: 35px;
}
